//variables 

//colors
$white: #fff;
$tangerine: #ffaf6d;
$orange: #ffa500;
$black:  rgb(40, 40, 40);
$sable: rgb(88, 88, 88);


//fonts
$ubuntu: 'Ubuntu', sans-serif;
$poppins: 'Poppins', sans-serif;
$ubuntu-bold: 700;
$ubuntu-regular: 400;
$poppins-bold: 700;
$poppins-regular: 400;

//size font
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;